.aboutMe {
    min-height: calc(100vh - 150px);
}

.aboutMe div {
    min-width: 320px;
    width: 60%;
    margin: 0 auto;
    background-color: rgb(17, 17, 17);
    padding: 15px;
}

.aboutMe div h1 {
    color: whitesmoke;
    font-weight: 400;
    font-size: 1.5em;
}